<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Scrutiny - Test Runner for Asp.Net</title>
</head>
<body>
    <h1>Scrutiny.Net</h1>
    <p>Welcome to Scrutinty Index page</p>
    <p>Current Time is: @DateTime.Now</p>
</body>
</html>