@model Scrutiny.Models.ContextModels.Index
<!DOCTYPE html>
<!--
This is the execution context.
Loaded within the iframe.
Reloaded before every execution run.
-->
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @foreach (var url in Model.Stylesheets)
    {
        <link rel="stylesheet" type="text/css" href="@url" />
    }
</head>
<body>
    <!-- The scripts need to be at the end of body, so that some test running frameworks
            (Angular Scenario, for example) need the body to be loaded so that it can insert its magic
            into it. If it is before body, then it fails to find the body and crashes and burns in an epic
            manner. -->
    <script type="text/javascript">
        // sets window.__karma__ and overrides console and error handling
        // Use window.opener if this was opened by someone else - in a new window
        if (window.opener) {
            window.opener.karma.setupContext(window);
        } else {
            window.parent.karma.setupContext(window);
        }

        // All served files with the latest timestamps
        window.__karma__.files = {
        @*
            //    '/base/node_modules/karma-expect/node_modules/expect.js/index.js': '0e21a2240f31eb72270c443f4eaa97bbca67db8d',
            //    '/base/node_modules/mocha/mocha.js': 'b3453484ccea5be3728f4748f43b3dbd772caca2',
            //    '/base/node_modules/karma-mocha/lib/adapter.js': 'd08bdb9c6b553ed8d3e140fe46529a0e267d63ae',
            //    '/base/src/client/_client_test.js': 'e66825f71fc64a22a5d9d84e614e4d5fea3d65af',
            //    '/base/src/client/_css_test.js': 'b61c8667d617c31d29544d691074d10317ff2b07',
            //    '/base/src/client/_fail_fast_test.js': '2ee5e6c39c41cc48ef2703d361bc445267676a6c',
            //    '/base/src/client/_html_element_test.js': '696c6488eb979eae78ca99f4d35db76c1056f5c6',
            //    '/base/src/client/_svg_canvas_test.js': 'f69d517774a4953e8e05425dc4f2ba22c38bd585',
            //    '/base/src/client/browser.js': '0c5001dfdded6009d26fb030e0859f73aaaaff50',
            //    '/base/src/client/client.js': 'cb53e919bdd8733d6c77359770b1e2ea0624482b',
            //    '/base/src/client/fail_fast.js': 'e0b6eaa3d195fec229fee75bef200c5b04b4a00c',
            //    '/base/src/client/html_element.js': '5165cc468a71698e70858232ad596c5c078ebb36',
            //    '/base/src/client/svg_canvas.js': 'bdc9e10e42411a56b5d8fc46310661f6a8e02c7a',
            //    '/base/src/client/vendor/jquery-1.8.3.min.js': '8b6babff47b8a9793f37036fd1b1a3ad41d38423',
            //    '/base/src/client/vendor/modernizr.custom-2.7.2.min.js': 'ae823066c62df50c7178c205f460663ce800459c',
            //    '/base/src/client/vendor/raphael-2.1.2.min.js': '2b641e08130bb1a81e5bd4fcd688f1eed467f875',
            //    '/base/src/client/screen.css': '8274776b1580277b0fac4e44945f470950f2178c',
            //    '/base/src/client/index.html': '9caf52a9ccff84864815a707159930e82ddc5804',
            //    '/base/node_modules/karma-commonjs/client/commonjs_bridge.js': 'a9a9a23ae5f358ea9e5550f6be96f8d5a615e39c'
        *@
        };
    
        window.__cjs_modules_root__ = '';//'C:\\Users\\mattias\\Source\\Repos\\Scrutiny\\Scrutiny.Net\\Scripts\\';
        window.__cjs_module__ = window.__cjs_module__ || {};
        //window.__cjs_module__["C:\\Users\\mattias\\Source\\Repos\\Scrutiny\\Scrutiny.Net\\Scripts\\require.js"] = function (require, module, exports, __dirname, __filename) {
		//	debugger;
        //};

        window.__SCRUTINY = window.__SCRUTINY || {};
        window.__SCRUTINY.API_BASEURL = '@Model.Scrutiny_Api_BaseUrl';
    </script>
    <!-- Dynamically "replaced" with <script> tags -->
    @foreach (var url in Model.Scripts)
    {
        //TODO: Resolve ~?
        <script type="text/javascript" src="@url"></script>
    }
    @*
        <script type="text/javascript" src="/Scrutiny/Scripts/expect.js/index.js"></script>
        <script type="text/javascript" src="/Scrutiny/Scripts/mocha/mocha.js"></script>
        <script type="text/javascript" src="/Scrutiny/Scripts/karma_mocha/lib/adapter.js"></script>
        <script type="text/javascript" src="/Scrutiny/Scripts/require.js"></script>

        <script type="text/javascript" src="/Scrutiny/Scripts/_fail_fast_test.js"></script>
    *@
    @*<script type="text/javascript" src="/base/src/client/_client_test.js"></script>
        <script type="text/javascript" src="/base/src/client/_css_test.js"></script>
        <script type="text/javascript" src="/base/src/client/_fail_fast_test.js"></script>
        <script type="text/javascript" src="/base/src/client/_html_element_test.js"></script>
        <script type="text/javascript" src="/base/src/client/_svg_canvas_test.js"></script>
        <script type="text/javascript" src="/base/src/client/browser.js"></script>
        <script type="text/javascript" src="/base/src/client/client.js"></script>
        <script type="text/javascript" src="/base/src/client/fail_fast.js"></script>
        <script type="text/javascript" src="/base/src/client/html_element.js"></script>
        <script type="text/javascript" src="/base/src/client/svg_canvas.js"></script>
        <script type="text/javascript" src="/base/src/client/vendor/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/base/src/client/vendor/modernizr.custom-2.7.2.min.js"></script>
        <script type="text/javascript" src="/base/src/client/vendor/raphael-2.1.2.min.js"></script>*@
    @*

    <script type="text/javascript" src="/Scrutiny/Scripts/karma_commonjs/client/commonjs_bridge.js"></script>
    *@

    <script type="text/javascript">
        window.__karma__.loaded();
    </script>
</body>
</html>
